* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #6d6d6d;
}

p {
  overflow-wrap: break-word;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}

nav {
  display: inline-block;
  position: fixed;
  height: 100vh;
  width: 10vw;
  background-color: #3a3a3a;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  flex-grow: 0.6;
}

nav ul li {
  padding: 10% 0;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  color: #6d6d6d;
  font-size: 1rem;
}

nav ul li .active {
  color: white;
}

nav ul li a:hover {
  color: white;
  animation: blinker 1s infinite;
}

@keyframes blinker {
  0% {
    color: white;
  }
  50% {
    color: #6d6d6d;
  }
  100% {
    color: white;
  }
}

.logo {
  font-weight: 1000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.number {
  font-family: "Courier New", Courier, monospace;
}

.number span {
  font-size: 1.5rem;
}

.MobileNav-container {
  width: 80%;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  background-color: #3a3a3a;
  color: white;
  margin: 0;
  position: fixed;
  visibility: 1;
  opacity: 1;
  top: 0vh;
  z-index: -10;
}

.MobileNav-container a {
  color: white;
}

.MobileNav-container .MobileNav-content {
  padding: 3% 3%;
}

.MobileNav-container .MobileNav-text {
  width: 80%;
  padding: 5% 5%;
}

.MobileNav-container .MobileNav-text ul {
  list-style-type: none;
  font-size: 2rem;
}

.MobileNav-container .MobileNav-text ul li {
  padding: 5%;
}

.MobileNav-container .MobileNav-text ul a {
  color: white;
  text-decoration: none;
  position: relative;
}

.MobileNav-container .MobileNav-text ul a:before {
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  content: "";
  transition: .3s;
}

.MobileNav-container .MobileNav-text ul a:hover:before {
  width: 100%;
}

.MobileNav-container .logo {
  margin: 10% 0;
  font-size: 3rem;
}

.MobileNav-container-open {
  visibility: 1;
  top: 0vh;
  z-index: 1000;
  opacity: 1;
}

.content-container {
  width: 230vw;
  height: 100vh;
  margin-left: 10%;
  overflow-y: hidden;
}

.content-container .flex {
  display: flex;
  height: 100%;
}

.content-container .flex .content {
  outline: none;
  content: "";
  width: 20%;
  height: 100%;
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(1);
  cursor: pointer;
}

.content-container .flex .content section {
  outline: none;
  position: absolute;
  bottom: 10%;
  left: 5%;
  right: 5%;
  height: 20%;
  color: white;
  opacity: 0.5;
  padding: 0;
}

.content-container .flex .content section::after {
  position: absolute;
  top: 100%;
  content: "";
  width: 30%;
  border: 1px solid white;
}

.content-container .flex .content article {
  position: relative;
  margin-top: 10px;
  padding: 10px 0;
}

.content-container .flex .content article p {
  opacity: 0;
  transition: .5s ease-in-out;
}

.content-container .flex .content article::before {
  position: absolute;
  top: 100%;
  content: "";
  width: 30%;
  border: 1px solid white;
  display: none;
}

.content-container .flex .content-active {
  width: 50%;
  filter: grayscale(0.3);
  cursor: default;
  transition: width .5s ease-in-out;
}

.content-container .flex .content-active section {
  opacity: 1;
}

.content-container .flex .content-active section::after {
  display: none;
}

.content-container .flex .content-active article p {
  opacity: 1;
}

.content-container .flex .content-active article::before {
  top: 0;
  display: block;
}

.menu-button {
  width: fit-content;
  padding: 20px;
  display: none;
  background-color: white;
}

.img-container {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

#animal1 {
  background-image: url(../images/elephant1.jpg);
}

#animal2 {
  background-image: url(../images/panda1.jpg);
}

#animal3 {
  background-image: url(../images/tiger1.jpg);
}

#animal4 {
  background-image: url(../images/giraffe.jpg);
}

#animal5 {
  background-image: url(../images/orangutan1.jpg);
}

#animal6 {
  background-image: url(../images/polar-bear1.jpg);
}

#animal7 {
  background-image: url(../images/jaguar1.jpg);
}

#animal8 {
  background-image: url(../images/bonobo.jfif);
}

#animal9 {
  background-image: url(../images/sea-turtle1.jpg);
}

#animal10 {
  background-image: url(../images/rhino1.jpg);
}

@media screen and (max-width: 786px) {
  .content-container {
    width: 100%;
    height: 500vh;
    margin-left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .content-container .flex {
    display: flex;
    flex-direction: column;
  }
  .content-container .flex .content {
    outline: none;
    content: "";
    width: 100%;
    height: 60vh;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    cursor: pointer;
  }
  .content-container .flex .content section {
    outline: none;
    position: absolute;
    bottom: 10%;
    left: 5%;
    right: 5%;
    height: 40%;
    color: white;
    opacity: 0.5;
    padding: 0;
  }
  .content-container .flex .content-active {
    filter: grayscale(0);
    cursor: default;
    transition: width .5s ease-in-out;
  }
  .content-container .flex .content-active section {
    opacity: 1;
  }
  nav {
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 100;
  }
  nav .logo {
    float: left;
  }
  nav ul {
    display: none;
  }
  nav .number {
    display: none;
  }
  nav .menu-button {
    display: flex;
    float: right;
  }
}
/*# sourceMappingURL=main.css.map */